html, body{
  width: 100%;
  height:100%;
  margin: 0;
  line-height: 1;
 
}
.maincontainter{
  display: flex;
  flex-direction: column;
  font-family: avenir;
  align-items: center;
  justify-content: center; 
  align-content: center;
  align-self: center;
}

.submaincontainter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  align-content: center;
  align-self: center;
}

.darkcyan {
  color: darkcyan;
  font-family: 'Fredoka One', cursive;
}
.darkcyan:hover {
  color: darkcyan; 
}




/* page headers */
.pageheader{
  font-family: 'Fredoka One', cursive;
  color: darkcyan;
  text-align: center;
  -webkit-animation: fadein 2s;
}


/* search drop downs for buyer searh page */
.buyersearchmenucontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadein 2s;
}


/* used with classes: buyersearchmenucontainer, pageheader*/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.buyerdropdowns{
  width: 100%;
  margin: .1em;
}

/* container for cards */
.merchcardcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  -webkit-animation: fadein 2s;
}


/* cards that display on search and account page */
.merchcard{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border: 2px solid darkcyan;
  border-radius: 2px;
  width: 12rem;
  height: 11rem;
  text-align: center;
  margin: .2em;
  line-height: -2;
  color: darkcyan;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.merchcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translate(1px, 1px);
}

.merchcardheader {
  overflow: hidden;
  border-bottom: solid;
  height: 60%;
  word-wrap: break-word;
}

.merchcardsubheader{
  overflow-y:scroll;
  height: 40%;
}

@media screen and (min-width: 321px) and (max-width: 420px) {

  .buyerdropdowns{
    width: 80%;
    margin: .1em;
  }
  .merchcard{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 100%;
    height: auto;
    text-align: center;
    margin: .2em;
   
  }

  .merchcardcontainer{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-animation: fadein 2s;
  }

}

/* BOOTSTRAP OVERRIDES */
p {
  margin-top: 5px;
  margin-bottom: 5.5px;
}

.btn-primary {
  background-color: darkcyan;
  border: none;
}
.btn-primary:hover{
  background-color: darkcyan;
  border: none;
  transform: translate(1px, 1px);
}

.btn-link{
  color: darkcyan;
}

.btn-link:hover{
  color: darkcyan;
}

.navbar{
  display:flex;
  flex-direction: row;
  border-bottom: solid;
  justify-content: space-evenly;
  width: 100%;
  
  color: darkcyan;
}


.nav-item:hover{
  transform: translate(1px, 1px);
}